<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/public/styles.css">
    <title>Hospital Management System</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-secondary">
        <a class="navbar-brand" href="/"><b>Hospital Management System</b></a>
        <% if(AccessID >= 0) {%>
            <a class="navbar-brand ml-auto" href="/">Logout</a>
            <a class="navbar-brand" href="/detail/<%=AccessID%>/admin">Contact Admin</a>
        <% } else { %>
            <a class="navbar-brand ml-auto" href="/login">Login</a>
            <a class="navbar-brand" href="/">Contact Admin</a>
        <% } %>
    </nav>